<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
            connectionString="Server=OLESKO\MSSQLSERVER01;Database=VirtualLibrary;TrustServerCertificate=True;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
